<header>
    <nav>
        <a href="/">INICIO</a>
        <a href="/AcercaDe">ACERCA DE</a>
        <a href="/Portafolio">PORTAFOLIO</a>
        <a href="/Contacto">CONTACTO</a>
    </nav>
</header>

