<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca De</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/AcercaDe.css">
</head>

<body>

    {{> header}}

    <section>
        <h1>Acerca De</h1>
        <p id="nombre">Abigail Ajú Chiroy</p>
        <div id="contenedor1">
            <div id="Columna1">
                <img src="./Imágenes/Foto.jpeg" alt="">
            </div>

            <div id="Columna2">
                <h2>DATOS ACADÉMICOS</h2>
                <ul>
                    <li class="mo"><strong>Universidad Mariano Galvez de Guatemala</strong>
                        <p>Ingeniería de Sistemas de Información y Ciencias de la computación </p>
                    </li>
                    <li class="mo"><strong>INED San Antonio Sololá</strong>
                        <p>Ciencias y letras con Orientación en Computación</p>
                    </li>
                    <li class="mo"><strong>INEB Abraham Lincoln Sololá</strong>
                        <p>Nivel Básico</p>
                    </li>

                </ul>

                <h2><Strong>IDIOMA</Strong></h2>
                <ul>
                    <li>Kaqchikel (Nativo)</li>
                    <li>Español (Alto Nivel)</li>
                    <li>Inglés (Nivel Medio)</li>
                </ul>


                <h2><Strong>HABILIDADES</Strong></h2>
                <ol>
                    <li>Solución de Probelmas-----------70%</li>
                    <li>Adaptabilidad----------------------80%</li>
                    <li>Ética de trabajo--------------------85%</li>
                    <li>Creatividad-------------------------65%</li>
                    <li>Competitividad--------------------75%</li>
                </ol>

                <h2><Strong>DESTREZAS Y DOMINIOS DE TECNOLOGIAS</Strong></h2>
                <ol>
                    <li>HTML---------------------------------------50%</li>
                    <li>CSS------------------------------------------45%</li>
                    <li>NodeJs---------------------------------------20%</li>
                    <li>Java Script----------------------------------30%</li>
                    <li>Sispemas Operativos----------------------60%</li>
                    <li>Base de Datos SQL SERVER------------55%</li>
                    <li>Redes de Computadoras------------------65%</li>
                </ol>

            </div>
        </div>

    </section>

    {{> footer}}
</body>

</html>